* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.code-box {
  margin-top: 30px;
  background: #11111c;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 5rem;
  border: 1px solid #2a2a30;
}

.tabs {
  display: flex;
  gap: 15px;
  padding: 12px 15px;
  border-bottom: 1px solid #222;
  font-size: 13px;
  color: #aaa;
  cursor: pointer;
}

.tabs span {
  transition: color 0.15s;
}

.tabs span:hover {
  color: #ebebeb;
}

.tabs span.active {
  color: #fff;
  border-bottom: 2px solid #747bff;
  padding-bottom: 5px;
}

.code {
  padding: 15px;
  font-family: monospace;
  color: #a78bfa;
}

.fa-brands {
  color: rgba(255, 255, 255, 0.715);
  margin-left: 5px;
}

.fa-brands:hover {
  color: white;
}

.fa-angle-dropdown {
  font-size: 11px;
}
.btn-outline-dark{
  transition: 0.2s ease;
}

.btn-outline-dark:hover{
  transform: scale(1.1);
}

.bnt-outline-light:hover{
  transform: scale(1.1);
}

.btn:hover{
  transform: scale(1.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item:hover{
  background-color: #1a1a1e !important;
  color: #9C86DD !important;
}
.nav-link:hover{
  background-color: #1a1a1e !important;
  color: #9C86DD !important;
}


.h-2 {
  height: calc(var(--spacing) * 2.5);
}

.code-tabs span {
  margin-right: 20px;
  color: #9ca3af;
  cursor: pointer;
}

.btn-outline-custom:hover {
  background: #111827;
}

.logo-item:last-child {
  border-right: none;
}

.logo-item:hover {
  color: #fff;
  background: #111827;
}

.feature-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.features {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

/* Images */
.framework-img {
  max-width: 100%;
  height: auto;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .foundation-title {
    font-size: 32px;
  }

  .foundation-section {
    padding: 80px 15px;
  }
}

.card-custom {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 20px;
  height: 100%;
  transition: 0.3s;
}

.card-custom:hover {
  border-color: #7c3aed;
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.2);
}

.card-text {
  font-size: 14px;
  color: #c9c9c9;
  line-height: 1.6;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 13px;
  color: #ddd;
  font-weight: 500;
}

.handle {
  font-size: 12px;
  color: #777;
}

@media (max-width: 768px) {
  .stats {
    text-align: left;
    margin-top: 30px;
  }
}

.logo-item:last-child {
  border-right: none;
}

.logo-item:hover img {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.05);
}

.logo-item:hover {
  background: rgba(255, 255, 255, 0.02);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .right-box {
    margin-top: 40px;
  }
}

.item:hover img {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.05);
}

.item:hover {
  background: rgba(255, 255, 255, 0.02);
}

/* Responsive */
@media (max-width: 768px) {

  .grid,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}

.item:hover img {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.05);
}

.item:hover {
  background: rgba(255, 255, 255, 0.02);
}

/* Special larger image (truck) */
.item.large img {
  max-height: 60px;
}

/* Responsive */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .code-box{
    display: none;
  }
}

.cta::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://vite.dev/assets/footer-background.BIgtbvhx.jpg") center/cover no-repeat;
  z-index: -2;
}

.cta::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 15, 25, 0.5);
  z-index: -1;
}

.cta-btn:hover {
  background: #fff;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .cta h1 {
    font-size: 32px;
  }

  .cta p {
    font-size: 16px;
  }
}

.footer a {
  display: block;
  color: #e5e7eb;
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 15px;
  transition: 0.2s;
}

.footer a:hover {
  color: #fff;
  transform: translateX(3px);
}

.social a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social i {
  font-size: 18px;
}

@media (max-width: 768px) {
  .footer {
    text-align: left;
  }
}


@media (max-width: 1007px) {
     .scroll{
       animation: scrollRight 20s linear infinite;   
      }
      @keyframes scrollRight {
        from { transform: translateX(100%); }
        to   { transform: translateX(-100%); }
      }
    }
    @media (max-width: 640px) {
      .scroll{
        animation: scrollRight 20s linear infinite;    
      }
       @keyframes scrollRight {
      from { transform: translateX(28%); }
      to   { transform: translateX(-100%); }
    }
    }

  